/* Globals */

html,
body {
  margin: 0;
  padding: 0;
}

p {
  font-family: "Iosevka", sans-serif;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.25;
}

h1,
h2 {
  font-family: "Iosevka", monospace;
  padding-top: 1rem;
}

/* Structure REDO */

#background-wrapper {
    background-color: #12131d;
}

#navbar-container {
  background-color: #282a35;
}

/* Navigation Bar Specific */

.nav-brand a {
  width: auto;
  margin-right: 50%;
}

.nav-item a {
  /* color: #ffffff; */
  font-family: "Iosevka", monospace;
  font-size: 1.75rem;
}

.nav-item a:hover,
.nav-item a:focus {
  background-color: #282a35;
  color: #ffffffb8;
}

/* .dropdown-menu.show {
    background-color: #282a35;
} */
