/* Basic */

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}


p {
    font-family: "Roboto Mono", sans-serif;
    color: #ffffff;
    font-size: 1.25rem;
    line-height: 1.25;
}

h1,
h2 {
    font-family: "Roboto Mono", monospace;
    color: #ffffff;
    padding-top: 1rem;
}


/* Background wrapper */

.wrapper {
    background-color: #12131d;
    height: 100%;
}

/* Navigation Bar */

#navbar-container {
    background-color: #282a35;
}

.nav-item a {
    color: #ffffff;
    font-family: "Roboto Mono", monospace;
    font-size: 1.75rem;
}

.nav-item a:hover,
.nav-item a:focus {
    background-color: #282a35;
    color: #ffffffb8
}


.dropdown-menu.show {
    background-color: #282a35;
}


/* Main Block */

#main-block {
    border: 10px solid #282a35;
}

/*  Footer  */

#footer-partial {
    background-color: #282a35;
}