/* Basic */

p {
    font-family: "Source Sans Pro", sans-serif;
    color: #ffffff;
    font-size: 1.25rem;
    line-height: 1.25;
}

h1 {
    font-family: "Bitter", monospace;
    color: #ffffff;
}

/* Container */

.container-fluid {
    background-color: #282a35;
    height: 100vh;
    display: flex;
}

/* Navigation Bar */

.nav {
    background-color: #36394a;
    height: 100%;
}

.nav-item a {
    color: #ffffff;
    font-family: "Bitter", monospace;
    font-size: 1.5rem;
    display: block;
}

.nav-item a:hover {
    background-color: #282a3560;
    color: #ffffff
}