/** General **/

html {
	margin: 0px;
	padding: 0px;
	font-size: 100%; /** Root font size of 16px, rem units are a fraction of that **/
}

body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	background: #282a35;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

p {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1.125rem; /** pix/16px (root font size html) = rem **/
	line-height: 1.25;
}

a {
  	color: #ffffff;
}

a:hover, a:focus {
  	color: #d6d6d6;
}

/** Header **/

header {
	color: #FFFFFF;
	font-family: "Bitter", monospace;
	font-size: 1.5rem;
	text-align: center;
	margin-left: 20%;
}

/** Footer **/

footer {
	background: #36394a;
	color: #FFFFFF;
	bottom: 10%; /** Fills the bottom **/
	width: 80%;
	margin-left: 20%;
	padding: 1rem 0rem;
	border-top: 0.0625rem #EAEAEA solid;
	text-align: center;
	position: relative;
	margin-top:auto;
}

/** Main **/

main {
	color: #FFFFFF;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1.1rem;
	line-height: 1.25;
	margin-left: 20%;
	padding: 0px 10px 15px 10px;
}

/** Sidebar and Logo **/

.menu_sidebar {
	background: #36394a;
	color: #FFFFFF;
	font-family: "Bitter", monospace;
	height: 100%; 
	width: 20%; 
	position: fixed; /* Fixed sidebar */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 1.25rem; /* Place content 20px from the top */
	font-size: 1.5rem;
	overflow: auto;
	border-right: 1px #EAEAEA solid;
}

.menu_sidebar a, .dropdown-btn {
	padding: 6px 8px 6px 16px;
	text-decoration: none; /** No underline under the link **/
	text-align: left;
	font-family: "Bitter", monospace; /** Make sure the button as own font**/
	font-size: 2.0rem; 
	color: #ffffff;
	display: block;
	border: none; /** No border on the button **/
	background: none; /** No background colour on each box, use .menu_sidebar**/
	width: 100%; /** Makes sure both the button and sidebar elements are some width **/
}


/* Highlight the current page on activation */
.menu_sidebar a.active, .dropdown-btn.active {
  background-color: #282a35;
}

/* Highlight the dropdown on activation */
.dropdown-btn.active {
  background-color: #282a359d;
}

/* Shade the link text on mouse-over */
.menu_sidebar a:hover, .dropdown-btn:hover {
	color: #EAEAEA;
}

/* Shade the background on mouse-over */
.menu_sidebar a:hover:not(.active), .dropdown-btn:hover:not(.active)  {
    background-color: #282a3560;
}

/* Dropdown container */
.dropdown-container {
    display: none;
    padding-left: 2rem;
}

/* Dropdown container, smaller links */
.dropdown-container a {
	font-size: 1.5rem;
}

/* Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* On smaller screens (< than 450px) change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .menu_sidebar {padding-top: 15px;}
  .menu_sidebar a {font-size: 18px;}
}

#logo {
	margin: 0px;
	padding: 0px;
	width: 100%;
}

/** Blog Post Preview Class **/

/** For article class i.e. self-container **/
.post_preview {
    padding: 1.25rem 0;
    border-bottom: 1px solid #eee;
}

.post_preview a {
    text-decoration: none;
}

.post_preview h2 {
	font-family: "Bitter", monospace;
}

.post_preview .post_meta {
	font-size: 1.125rem;
    font-style: italic;
    margin: 0 0 0.625rem 0;
}

.post_entry_container {
    display: inline-block;
    width: 100%;
}

.post_entry_text {
    width: 90%;
}

/** Preview Images**/ 

.post_entry_image {
    filter: grayscale(90%);
	width:40%;
}

.post_entry_image img {
    width: 100%;
	padding: 5px 0 5px 0;
}

.post_entry_image:hover {
    filter: grayscale(0%);
}

/** Profile Page **/

.profile_picture {
	width:20%;
	display: block;
 	margin-left: auto;
  	margin-right: auto;
	margin-top:10px;
	border-radius: 50%;
}

.jobtitle {
	font-weight:bold;
	margin-bottom:0;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1.2rem;
	line-height:1;
}

.jobdates {
	font-style: italic;
	font-weight:normal;
}

.profile {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1.1rem;
	line-height: 1.25;
	margin-bottom:20px;
}



/* Credit to W3Schools for the lovely collapsible! */

.collapsible {
	background-color: #313442;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 1.2rem;
	margin-top:5px;
	font-family: "Bitter", monospace;
	font-weight: bold;
  }
  
  .active, .collapsible:hover {
	background-color: #36394a;
  }
  
  .collapsible:after {
	content: '\002B';
	color: white;
	font-weight: bold;
	float: right;
	margin-left: 5px;
  }
  
  .active:after {
	content: "\2212";
  }
  
  .collapsible_content {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: #282a35;
	font-family: "Source Sans Pro", sans-serif;
  }