p {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.125rem;
    /** pix/16px (root font size html) = rem **/
    line-height: 1.25;
}

footer {
    background: #36394a;
    color: #FFFFFF
}