<!doctype html>
<html lang="en">

<head>
  {{ partial "head" .}}
</head>

<body>
  <div class="container-fluid p-0">
    <div id="sidebar-col" class="nav col-2 flex-column p-4 pt-5">
      <nav id="sidebar">
        {{ partial "sidebar" .}}
      </nav>
    </div>
    <div id="content-col" class="col-10 flex-column p-4 p-md-5">
      <header>
        {{ partial "header" .}}
      </header>
      <main>
        {{ block "main" . }}
        {{ end }}
      </main>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>