{{ define "main" }}

<h1 class="text-center">{{.Title}}</h1>
{{if .Params.subtitle }}
<h2 class="text-center text-secondary">{{ .Params.subtitle }}</h2>
{{ end }} {{ range (where .Paginator.Pages "Type" "!=" "page").ByDate }}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ .Title }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">
      {{ .PublishDate.Format "1 Jan 2006" }}
    </h6>
    <p class="card-text">{{ .Summary }}</p>
    <a href="{{ .Permalink }}" class="card-link">Read More</a>
  </div>
  <div class="card-footer">
    <small class="text-muted"
      >{{ .ReadingTime }} <i class="bi bi-watch-fill"></i>
      <i class="bi bi-tag-fill"></i> {{ .Params.Tags }}</small
    >
  </div>
</div>
{{ end }} 
{{ end }}
