/* Globals */

html {
  margin: 0;
  padding: 0;
}

/* Typography */

.inline-link {
  color: #ffffff;
}

/* Structure */

.global-bg-colour {
  background-color: #22232c;
}

.navbar-bg-colour {
  background-color: #373946;
}

/* Navigation Bar */

.nav-item a {
  font-family: "Iosevka", "Noto Sans Display", Verdana;
  font-size: 1.5rem;
}

.nav-item a:hover,
.nav-item a:focus {
  background-color: #22232c;
  color: #ffffff;
}

/* Card */

.card a {
  font-family: "Iosevka", "Noto Sans Display", Verdana;
  color: #ffffffb8;
  text-decoration: none;
}

.card a:hover,
.card a:focus {
  color: #ffffff;
}

/* Tag Boxes */

.tag-link {
  display: inline-block;
  padding: 0.5rem 1rem;
  color: #ffffff;
  background-color: #373946;
  margin: 5px;
  text-decoration: none;
}

.tag-link:hover {
  color: #ffffffb8;
}

/* Tag Containers (for wrapping a list)*/

.tag-container-terms {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tag-container-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}