<header>
    <nav id="navbar" class="navbar navbar-expand-lg p-0">
        <div id="navbar-container" class="container">
            <a class="navbar-brand" href="/">
                <img class="w-100 d-inline-block align-center mr-2 p-2"
                    src="/img/stochastic-logo-3.png" alt="Stochastic Logo" style="max-height:40px">
            </a>
            <button class="navbar-toggler text-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-content">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/about">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
