{{ define "main" }}

{{ .Content }}

<div class="row">
  {{ range ( first 3 ( where .Site.RegularPages "Type" "blog" ).ByDate ) }}

  <div class="card mt-2">
    {{/*
    <img src="{{ .Params.image }}" class="card-img-top" alt="{{ .Title }}" />
    */}}

    <div class="card-body">
      <h5 class="card-title">{{ .Title }}</h5>
      <p class="card-text">{{ .Summary }}</p>
      <a href="{{ .Permalink }}">Read More</a>
    </div>

    <div class="card-footer">
      <small class="text-muted">{{ .PublishDate.Format "1 Jan 2006" }}
        <i class="bi bi-watch-fill"></i> <i class="bi bi-tag-fill"></i>
        {{.Params.Tags }}
      </small>
    </div>

  </div>
  {{ end }}
</div>

<div class="mt-4">
  <h2>Disclaimer</h2>
  <p>
    All opinions are mine own, and do not represent those of that of my current and former employer(s).<br>
    Unless specified, this blog is not sponsored or affiliated with any companies or manufacturers of products
    mentioned.
  </p>
</div>

{{ end }}